map assets/sts/configs/maps/big_green_army.map
waves assets/sts/configs/waves/demo_level_07.waves
endless true
next_level win
reward_options show_number 3 pick_count 1  ballista_tower tree_tower fire_tower ice_tower poison_tower lightning_tower ballista_tower seagull_tower cannon_tower -1
reward_options show_number 4 pick_count 1 mana_regen_artifact health_boost_artifact burn_artifact harden_artifact cannon_aoe_bonus_artifact -1
deck_count 6
