map assets/sts/configs/maps/demo_level_02.map
waves assets/sts/configs/waves/demo_level_02.waves
next_level assets/sts/configs/levels/demo_rouge_light_level_03.config
reward_options show_number 3 pick_count 1 mana_regen_artifact extra_card_artifact health_boost_artifact burn_artifact -1
reward_options show_number 3 pick_count 2 tree_tower fire_tower ice_tower cauldron_tower poison_tower -1
deck_count 4