map assets/sts/configs/maps/demo_level_07.map
waves assets/sts/configs/waves/demo_level_07.waves
next_level win
reward_options tree_tower fire_tower cauldron_tower seagull_tower cannon_tower -1
deck_count 8
override_its_dangerous_take_this
disabled-override_starting_hand_size-4
disabled-override_starting_energy-5
disabled-override_round_over_energy-3
disabled-override_cards_per_round-2