map assets/sts/configs/maps/slimes_flight_level_02.map
waves assets/sts/configs/waves/slimes_flight_level_02.waves
next_level win
reward_options show_number 3 pick_count 1 mana_regen_artifact extra_card_artifact health_boost_artifact burn_artifact -1
reward_options show_number 3 pick_count 2 tree_tower fire_tower tree_tower ice_tower cauldron_tower poison_tower seagull_tower lightning_tower ballista_tower -1
deck_count 6
